<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZONA GAMER</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="/img/zgfavicon.png" type="image/x-icon">
    <!--Archivos CSS-->
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <!--Fuentes Google-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap"
        rel="stylesheet">
    <!--Font Awesome-->
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <!--BOOTSTRAP 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"  crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">

        <div class="container-fluid">

            <a class="navbar-brand" href="#"><img src="/img/ZonaGamer_logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/products">Productos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Consolas
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="#">Xbox</a></li>
                            <li><a class="dropdown-item" href="#">PlayStation</a></li>

                        </ul>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#seccion-ofertas">Ofertas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#seccion-novedades">Novedades</a>
                    </li>

                </ul>

                <form class="d-flex" action='/search' method="GET">
                    <% if (locals.isLogged) { %>

                        <a href="/users/profile"><img src="/img/usersImg/<%= locals.userLogged.image %> " class="img-profile" alt="" title="Ir al perfil"></a>

                        <a class="profile-logout" href="/users/logout"><i class="fas fa-sign-out-alt" title="Cerrar sesión"></i></a>

                        <a href="/products/cart" target="_blank" title="Carrito"><i class="fas fa-shopping-basket" title="Ir al carrito"></i></a>

                        
                    <% } else {%>   
                    
                    <a href="/users/registro" target="_blank" title="Registrarse"><i class="far fa-id-card"></i></a>

                    <a href="/users/login" target="_blank" title="Loguearse"><i class="fas fa-sign-in-alt"></i></a>
                    <% } %>
                    

                    <input class="form-control me-2" type="search" name="keywords" placeholder="Buscar" aria-label="Search">

                    <button class="btn btn-outline-success" type="submit">Buscar</button>

                </form>

            </div>

        </div>

    </nav>


    <main>

        <!--Carrusel Bootstrap 5-->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <a href="/products/detail/5">
                    <img src="/img/slide_fifa_b.jpg" class="d-block w-100" alt="...">
                </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>FIFA 21</h5>
                        <p>El mejor juego de fútbol, encontralo acá</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <a href="/products/detail/6">
                        <img src="/img/slide_dirt.jpg" class="d-block w-100" alt="...">
                    </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>DIRT 5</h5>
                            <p>Poné primera y convertite en el mejor piloto de carreras</p>
                        </div>
                    </div>

                <div class="carousel-item">
                        <a href="/products/detail/4">
                        <img src="/img/slide_assassins_b.jpg" class="d-block w-100" alt="...">
                    </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Assassin's Creed Valhalla</h5>
                            <p>Zona Gamer te ofrece las ultimas novedades!</p>
                        </div>
                    </div>

                <div class="carousel-item">
                    <a href="/products/detail/0">
                    <img src="/img/slide_ps5_b.jpg" class="d-block w-100" alt="...">
                </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Combo Play Station 5</h5>
                        <p>Encontrá las mejores ofertas acá</p>
                    </div>
                </div>    
                

                <div class="carousel-item">
                    <a href="/products/detail/3">
                        <img src="/img/slide_xbox_b.jpg" class="d-block w-100" alt="...">
                    </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Xbox Series S/X</h5>
                            <p>La consola de Microsoft disponible en Zona Gamer</p>
                        </div>
                    </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>

        <div class="duos">
            <article class="plays"><img src="/img/PS5_logo.png" alt="logo Play"></article>
            <article class="xbox"><img src="/img/xbox_logo_2.png" alt="logo XBox"></article>
        </div>

        <section class="ofertas" id="seccion-ofertas">
            <h3 class="titulo-section">OFERTAS</h3>

            <% if (ofertas.length) { %>

                <% for (oferta of ofertas) { 
                    let finalPrice = oferta.descuento ? (oferta.precio - oferta.precio * oferta.descuento / 100).toFixed(0) : oferta.precio; %>
                    <article class="prod-contenedor">
                        <a href="/products/detail/<%= oferta.id %>">
                            <img src="/img/fotosMulter/<%= oferta.imagen %>" alt="" class="img-producto">

                            <div class="producto">
                                <i class="fas fa-truck"></i>
                                <p class="precio">
                                    $<%= toThousand(finalPrice) %>
                                </p>
                                <p class="descuento">
                                    <%= oferta.descuento %>%OFF
                                </p>
                                <h4 class="descripcion">
                                    <%= oferta.nombre %>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% } %>
                        <% } %>
        </section>

        <img src="/img/banner-index.jpg" alt="" class="img-banner">


        <section class="novedades" id="seccion-novedades">
            <h3 class="titulo-section">NOVEDADES</h3>
            <% if(novedades.length) { %>
                <% for (novedad of novedades) { let finalPrice=novedad.descuento ? (novedad.precio - novedad.precio *
                    novedad.descuento / 100).toFixed(0) : novedad.precio; %>
                    <article class="prod-contenedor">
                        <a href="/products/detail/<%= novedad.id %>">
                            <img src="/img/fotosMulter/<%= novedad.imagen %>" alt="" class="img-producto">

                            <div class="producto">
                                <i class="fas fa-truck"></i>
                                <p class="precio">
                                    $<%= toThousand(finalPrice) %>
                                </p>
                                <p class="descuento">
                                    <%= novedad.descuento %>%OFF
                                </p>
                                <h4 class="descripcion">
                                    <%= novedad.nombre %>
                                </h4>
                            </div>
                        </a>
                    </article>
                <% } %>
            <% } %>
        </section>

    </main>

    <%- include('./partials/footer') %>


</body>

</html>