<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Registro"}) %>

<body>

    <%- include('../partials/headerRegister') %> 

    <main>
        <form method="POST" action="/users/registro" enctype="multipart/form-data" class="form-user">

            <h2>Crear cuenta</h2>

            
            <div>
                <label for="fullName">Ingrese su Nombre y Apellido:</label>
                <input
                 id="fullName" 
                 type="text" 
                 name="fullName" 
                 placeholder="Nombre Completo" 
                 value="<%= locals.oldData ? oldData.fullName : null %>">

                 <% if (locals.errors && errors.fullName) { %>
                    <div class="text-error">
                        <%= errors.fullName.msg %> 
                    </div>
                    <% } %>
            </div>
                    
                    
            <div>
                <label for="email">Ingrese su Email:</i></label>
                <input 
                id="email" 
                type="email" 
                name="email" 
                placeholder="Email"
                value="<%= locals.oldData ? oldData.email : null %>">

                <% if (locals.errors && errors.email) { %>
                    <div class="text-error">
                        <%= errors.email.msg %> 
                    </div>
                    <% } %>
            </div>
                    
            <div>
                <label for="image">Ingrese la imagen </i></label>
                <input id="image" type="file" name="image" placeholder="Agregar imagen">

                <% if (locals.errors && errors.image) { %>
                    <div class="text-error">
                        <%= errors.image.msg %> 
                    </div>
                    <% } %>
            </div>

            <div>
                <label for="contraseña">Ingrese su Contraseña</i></label>
                <input 
                id="password" 
                type="password" 
                name="password" 
                placeholder="Contraseña"
                value="<%= locals.oldData ? oldData.password : null %>">
                

                <% if (locals.errors && errors.password) { %>
                    <div class="text-error">
                        <%= errors.password.msg %> 
                    </div>
                    <% } %>
            </div>

            <div>
                <label for="address">Dirección</i></label>
                <input 
                id="address" 
                type="text" 
                name="address" 
                placeholder="Dirección"
                value="<%= locals.oldData ? oldData.address : null %>">

                <% if (locals.errors && errors.address) { %>
                    <div class="text-error">
                        <%= errors.address.msg %> 
                    </div>
                <% } %>
            </div>
            
            
            <div>
                <label for="location">Localidad</i></label>
                <input 
                id="location" 
                type="text" 
                name="location" 
                placeholder="Localidad"
                value="<%= locals.oldData ? oldData.location : null %>">

                <% if (locals.errors && errors.location) { %>
                    <div class="text-error">
                        <%= errors.location.msg %> 
                    </div>
                <% } %>
            </div>
            
            <div>
                <label for="postalCode">Código postal</i></label>
                <input 
                id="postalCode" 
                type="number" 
                name="postalCode" 
                placeholder="Código postal"
                value="<%= locals.oldData ? oldData.postalCode : null %>">

                <% if (locals.errors && errors.postalCode) { %>
                    <div class="text-error">
                        <%= errors.postalCode.msg %> 
                    </div>
                <% } %>
            </div>
            
            <div>
                <label for="phone">Teléfono</i></label>
                <input 
                id="phone" 
                type="number" 
                name="phone" 
                placeholder="Teléfono"
                value="<%= locals.oldData ? oldData.phone : null %>">

                <% if (locals.errors && errors.phone) { %>
                    <div class="text-error">
                        <%= errors.phone.msg %> 
                    </div>
                <% } %>
            </div>
            <ul class="errores"></ul>
            <div class="submit">
                <button type="submit">Registrarme</button>
            </div>

        </form>
        
        <hr>
        <div class="form-user ask">
            
            <h2>¿Ya tenés una cuenta?</h2>
            
            <div class="submit">
                <a href="/users/login">
                    <button class="boton-nc" type="submit">Iniciar sesión</button>
                </a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %> 

    <script src="/js/registerValidations.js"></script>
</body>

</html>