<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Producto Administrador"}) %>

<body>

    <%- include('../partials/header') %> 

    <main>
        <form action="?_method=PUT" method="POST" enctype="multipart/form-data" class="form-user">

            <h2>EDITAR PRODUCTO: <%= old.name %></h2>

            <div>
                <label for="name">Nombre</label>
                <input id="name" type="text" name="name" value="<%= old.name %>"
                value="<%= locals.oldData ? oldData.name : null %>">

                <% if (locals.errors && errors.name) { %>
                    <div class="text-error">
                        <%= errors.name.msg %> 
                    </div>
                <% } %>

            </div>

            <div>
                <label for="description">Descripcion</label>
                <input id="description" type="text" name="description" value="<%= old.description %>"
                value="<%= locals.oldData ? oldData.description : null %>">

                <% if (locals.errors && errors.description) { %>
                    <div class="text-error">
                        <%= errors.description.msg %> 
                    </div>
                <% } %>

            </div>
            
            
            <div>
                <label>Agregar imagenes del producto:</label>
                <input type="file" name="image" accept=".jpg, .png" multiple
                value="<%= locals.oldData ? oldData.image : null %>">

                <% if (locals.errors && errors.image) { %>
                    <div class="text-error">
                        <%= errors.image.msg %> 
                    </div>
                <% } %>

            </div>
            

            <div>
                <label for="price">Precio</label>
                <input id="price" type="text" name="price" value="$<%= old.price %>"
                value="<%= locals.oldData ? oldData.price : null %>">

                <% if (locals.errors && errors.price) { %>
                    <div class="text-error">
                        <%= errors.price.msg %> 
                    </div>
                <% } %>

            </div>
            
            <div>
                <label for="discount">Descuento</label>
                <input id="discount" type="number" name="discount" placeholder="descuento" value="<%= old.discount %>"
                value="<%= locals.oldData ? oldData.discount : null %>">
            </div>

            <div>
                <label>Categoria</label>
                <select name="category_id" id="" required>
                    <% category.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <label>Consola:</label>
                <select name="console_id" id="" required>
                    <% console.forEach(console => { %>
                    <option value="<%= console.id %>"><%= console.name %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <label>Tipo de producto</label>
                <select name="product_type_id" id="" required>
                    <% productType.forEach(productType => { %>
                    <option value="<%= productType.id %>"><%= productType.name %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <button type="submit">Actualizar Producto</button>
            </div>

        </form>
    </main>

    <%- include('../partials/footer') %> 

    
</body>



</html>