<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {Solapa:"ZG - Productos"}) %>

    <body>

        <%- include('../partials/header') %>

            <h1>Productos</h1>

            <% if(userLogged && userLogged.isAdmin == true){ %>
            
            <a class="create-btn" href="/products/create">Crear Producto</a>

            <% } %> 

            
            <section class="container-products">

                <% if (products.length) { %>
                 
                <% for (product of products) { 
                    let finalPrice = product.discount ? (product.price - product.price * product.discount / 100).toFixed(0) : product.price; 
                %>
                    <article class="prod-contenedor">
                        <div class="img-producto">
                            <a href="/products/detail/<%= product.id %>">
                                <img src="/img/fotosMulter/<%= product.image %>" alt=""
                                    class="img-producto">
                            </a>
                        </div>

                        <div class="products-gral">
                            <i class="fas fa-truck"></i>
                            <p class="prod-precio">
                                $<%= toThousand(finalPrice) %>
                            </p>
                            <p class="prod-descuento">
                                <%= product.discount %>%OFF
                            </p>
                            <h4 class="prod-descripcion">
                                <%= product.name %>
                            </h4>
                        </div>
                    </article>
                    <% } %>
                    <% } %>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>