<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Detalle de Producto"}) %>

<body>

    <%- include('../partials/header') %> 
    

    <main class="main-producto">
        
        <div class="producto">
            <h1><%= productDetail.nombre %></h1>
            <img src="/img/fotosMulter/<%= productDetail.imagen %>"  alt="Imagen del producto">
        </div>

        <div>
            <h2>Descripción</h2>
            <p> <%= productDetail.descripcion %> 
            </p>
        </div>
    
        <div class="barra-precio">
            <h2 class="precio"><%= productDetail.precio %> </h2>
            <p class="descuento"><%= productDetail.descuento %>%OFF </p>
        </div>
        
        <p class="color">12 cuotas s/interés</p>

        <button type="submit"class="boton-formulario">Agregar al carrito <i class="fas fa-shopping-cart"></i></button>

        <a href="/products/edit"><button type="submit"class="boton-formulario">Editar Producto <i class="fas fa-shopping-cart"></i></button></a>

    <form action="/products/delete/<%= productDetail.id %> ?_method=DELETE" method="POST">
        <button type="submit" class="boton-formulario">Borrar Producto <i class="fas fa-shopping-cart"></i></button>
    </form>
    
         <div>
             <h2>Especificaciones</h2>    
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut expedita nostrum nulla facilis quod fuga! Eius, voluptatem?
                In maxime esse ut deleniti voluptatibus amet optio necessitatibus obcaecati laudantium vel?
             </p>
         </div>  

 
        
         
    </main>

    <%- include('../partials/footer') %> 


</body>

</html>
