<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Producto Administrador"}) %>

<body>

    <%- include('../partials/header') %> 

    <main>
        <form action="" method="POST" enctype="multipart/form-data" class="form-user">

            <h2>AGREGAR PRODUCTO</h2>

            <div>
                <label for="name">Nombre de producto:</label>
                <input id="nombre" type="text" name="name" placeholder="Nombre Producto">
            </div>

            <div>
                <label for="description">Descripción:</label>
                <input id="description" type="text" name="description" placeholder="Descripción">
            </div>
            
            
            <div>
                <label>Agregar imagenes del producto:</label>
                <input type="file" name="image" accept=".jpg, .png" multiple>
            </div>
            

            <div>
                <label for="price">Precio:</label>
                <input id="price" type="number" name="price" placeholder="Precio">
            </div>

            <div>
                <label for="discount">Descuento:</label>
                <input id="descuento" type="number" name="discount" placeholder="Descuento">
            </div>

            <div>
                <label>Categoria</label>
                <select name="category_id" id="" required>
                    <% category.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <label>Consola:</label>
                <select name="console_id" id="" required>
                    <% console.forEach(console => { %>
                    <option value="<%= console.id %>"><%= console.name %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <label>Tipo de producto</label>
                <select name="product_type_id" id="" required>
                    <% productType.forEach(productType => { %>
                    <option value="<%= productType.id %>"><%= productType.name %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <button type="submit">Agregar Producto</button>
            </div>

        </form>
    </main>

    <%- include('../partials/footer') %> 

    
</body>

</html>