<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Producto Administrador"}) %>

<body>

    <%- include('../partials/header') %> 

    <main>
        <form action="?_method=PUT" method="POST" enctype="multipart/form-data" class="form-user">

            <h2>EDITAR PRODUCTO:<%= old.name %></h2>

            <div>
                <label for="name">Nombre</label>
                <input id="name" type="text" name="name" value="<%= old.name %>">
            </div>

            <div>
                <label for="description">Descripcion</label>
                <input id="description" type="text" name="description" value="<%= old.description %>">
            </div>
            
            
            <div>
                <label>Agregar imagenes del producto:</label>
                <input type="file" name="imagen" accept=".jpg, .png" multiple>
            </div>
            

            <div>
                <label for="price">Precio</label>
                <input id="price" type="text" name="price" value="$<%= old.price %>">
            </div>
            
            <div>
                <label for="discount">Descuento</label>
                <input id="discount" type="number" name="discount" placeholder="descuento" value="<%= old.discount %>">
            </div>

            <div>
                <label>Categorías de interés:</label>
                    <select name="interes">
                        <option value="novedades" selected>Novedades</option>
                        <option value="ofertas">Ofertas</option>
                        <option value="visitados">visitados</option>
                    </select>
            </div>

            <div>
                <button type="submit">Actualizar Producto</button>
            </div>

        </form>
    </main>

    <%- include('../partials/footer') %> 

    
</body>



</html>