<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Detalle de Producto"}) %>

<body>

    <%- include('../partials/header') %> 
    

    <main class="main-producto">

        <% let finalPrice = productDetail.descuento ? (productDetail.precio - productDetail.precio * productDetail.descuento / 100).toFixed(0) : productDetail.precio; %>
   
        <div class="producto">
            <h1><%= productDetail.nombre %></h1>
            <img src="/img/fotosMulter/<%= productDetail.imagen %>"  alt="Imagen del producto">
        </div>
    
        <div class="barra-precio">
            <h2>Descripción</h2>
            <p> <%= productDetail.descripcion %> </p>    
            <h2 class="precio">$<%= toThousand(finalPrice) %> </h2>
            <p class="descuento"><%= productDetail.descuento %>%OFF </p>
            <p class="color">12 cuotas s/interés</p>
        </div>
        
        
        <div class="botones">
            <!--BOTON COMPRAR-->
            <button type="submit"class="boton-formulario"><p>Comprar </p><i class="fas fa-shopping-cart"></i></button>

            <!--BOTON EDITAR-->
            <a href="/products/edit/<%= productDetail.id %> "><button type="submit"class="boton-formulario"><p>Editar </p><i class="fas fa-edit"></i></button></a>

            <form action="/products/delete/<%= productDetail.id %>?_method=DELETE" method="POST">
                <!--BOTON BORRAR-->
                <button type="submit" class="boton-formulario"><p>Borrar </p><i class="fas fa-trash-alt"></i></button>
            </form>
        </div>

    
    </main>

    <%- include('../partials/footer') %> 


</body>

</html>
