<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", {Solapa:"ZG - Producto Administrador"}) %>

<body>

    <%- include('../partials/header') %> 

    <main>
        <form action="/products/create" method="POST" enctype="multipart/form-data" class="form-user">

            <h2>Agregar Producto</h2>

            
            <div>
                <label for="name">Nombre de producto:</label>
                <input 
                id="nombre" 
                type="text" 
                name="name" 
                placeholder="Nombre Producto">

                <% if (locals.errors && errors.name) { %>
                    <div class="text-error">
                        <%= errors.name.msg %> 
                    </div>
                <% } %>
            </div>

            <div>
                <label for="description">Descripción:</label>
                <input id="description" type="text" name="description" placeholder="Descripción" >

                <% if (locals.errors && errors.description) { %>
                    <div class="text-error">
                        <%= errors.description.msg %> 
                    </div>
                <% } %>
            </div>
            
            
            <div>
                <label>Agregar imagenes del producto:</label>
                <input type="file" name="image" accept=".jpg, .png" multiple >

                <% if (locals.errors && errors.image) { %>
                    <div class="text-error">
                        <%= errors.image.msg %> 
                    </div>
                <% } %>
            </div>
            

            <div>
                <label for="price">Precio:</label>
                <input id="price" type="number" name="price" placeholder="Precio">

                <% if (locals.errors && errors.price) { %>
                    <div class="text-error">
                        <%= errors.price.msg %> 
                    </div>
                <% } %>
            </div>

            <div>
                <label for="discount">Descuento:</label>
                <input id="descuento" type="number" name="discount" placeholder="Descuento">

                <% if (locals.errors && errors.discount) { %>
                    <div class="text-error">
                        <%= errors.discount.msg %> 
                    </div>
                <% } %>

            </div>

            <div>
                <label>Categoria</label>
                <select name="category_id">
                    <% category.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <label>Consola:</label>
                <select name="console_id">
                    <option value="" >Elija una consola</option>
                    <% console.forEach(console => { %>
                    <option value="<%= console.id %>"><%= console.name %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <label>Tipo de producto</label>
                <select name="product_type_id">
                    <% productType.forEach(productType => { %>
                    <option value="<%= productType.id %>"><%= productType.name %></option>
                    <% }); %>
                </select>
            </div>
            <ul class="errores"></ul>
            <div>
                <button type="submit">Agregar Producto</button>
            </div>

        </form>
    </main>

    <%- include('../partials/footer') %> 

    <script src="/js/productsValidations.js"></script>
</body>

</html>