<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {Solapa:"ZG - Productos"}) %>

    <body>

        <%- include('../partials/header') %>

            <h1>PRODUCTOS</h1>

            <section class="container-products">
                <% for(let i=0 ; i<productosJSON.length ; i++) { %>
                    <article class="prod-contenedor">
                        <a href="/products/detail/<%= productosJSON[i].id %>">
                            <img src="/img/fotosMulter/<%= productosJSON[i].imagen %>" alt=""
                                class="img-products-gral">

                            <div class="products-gral">
                                <i class="fas fa-truck"></i>
                                <p class="prod-precio">
                                    $<%= toThousand(productosJSON[i].precio) %>
                                </p>
                                <p class="prod-descuento">
                                    <%= productosJSON[i].descuento %>%OFF
                                </p>
                                <h4 class="prod-descripcion">
                                    <%= productosJSON[i].nombre %>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% } %>
            </section>

            <%- include('../partials/footer') %>
    </body>

</html>