<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {Solapa:"ZG - Productos"}) %>

    <body>

        <%- include('../partials/header') %>

        <h2 class="products-title">Resultados de la búsqueda: <%= search %></h2>

            <section class="container-products result-products">
                        
                <% for( product of products ) {  %>
                    <article class="prod-contenedor">
                        <a href="/products/detail/<%= product.id %> ">        
                         <img src="/img/fotosMulter/<%= product.image %> " alt="<%= product.name %>" class="img-products-gral">
                            
                            <div class="products-gral">
                                <p class="prod-precio"><%= product.price %></p>
                                <p class="prod-descuento">
                                    <%- product.discount ? `<span>${product.discount}% OFF</span>` : '' %>
                                        <h4 class="prod-descripcion"><%= product.name %></h4>
                                </p>
                                <i class="fas fa-truck"></i>
                            </div>
                        </a>
                    </article>
                <% } %>

            </section>

            <%- include('../partials/footer') %>
    </body>

</html>